.navbar-container {
	background-color: tomato;
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	left: 0;
	top: 0;
	height: 8rem;
	position: fixed;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	z-index: 5;
}

.navbar-container h1 {
	font-family: Roboto;
	font-size: 3rem;
}
